

@import 'tailwindcss';


body{
   
    display: flex;
    justify-content: center;
    align-items:center;
    
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #F8FAFC;

    
}


#root{
  min-width:100%;
  background-color: #F8FAFC;
  
}


